<div (click)="onSelect()" [ngClass]="{'card-selected': selected}" class="{{size}} card {{card.color | lowercase}}-bg">
  <div class="card-name">{{card.name}}</div>
  <div class="card-shape {{card.color | lowercase}}-shape">
    <div class="{{card.color | lowercase}}-shaped {{card.shape | lowercase}}">
    </div>
    <div class="shape-name">
      <div>{{card.color}}</div>
      <div>{{card.shape}}</div>
    </div>
  </div>
  <div class="card-value">
    <span>{{card.value}}</span>
  </div>
</div>
