.center {
    display: flex;
    background-color: #e3e1e1;
    justify-content: center;
    /* height: 10vh; */
    padding-top: 2rem
  }

  div {
    /* align-items: center; */
  }

  .toolbar {
    display: flex;
  }
  .push{
    margin-left: auto;
  }
