<mat-toolbar class="toolbar" color="primary">
  <span> Whot Game </span>
  <button mat-button routerLink="/">Home</button>
  <button mat-button [routerLink]="['/game', '1']">Game</button>

  <span class="spacer"></span>

  <mat-card>
    <img mat-card-image src="/assets/img/avatar/{{player.avatar}}">
    <mat-card-subtitle>{{player.name}}</mat-card-subtitle>
  </mat-card>

  <button (click)="logout()" mat-icon-button aria-label="Logout">
    <mat-icon>exit_to_app</mat-icon>
  </button>

</mat-toolbar>
<div class="center">
  <router-outlet></router-outlet>
</div>
