.center {
    display: flex;
    background-color: #e3e1e1;
    justify-content: center;
    /* height: 10vh; */
    padding-top: 2rem
  }

  .spacer {
    flex: 1 1 auto;
  }

mat-card{
  max-width: 45px;
}
mat-card img{
  height: 45px;
  width: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
mat-card mat-card-subtitle{
  width: 25px;
  font-weight: 200;
  line-height: 15px;
  font-size: 10px;
}
